<html>
<head>
    <title>Fluxy KeyCheck</title>
</head>
<body>
<strong>FLUXY</strong> <a href="../../home">/home</a><a href="#">/keycheck</a>
 <strong> ... Congratulations ! File transfer is ok / File id : {{ fileid }}</strong>  <a href="./uploaded/{{ filename }}">Voir le contenu du fichier</a>
<hr style="border-top: dotted 1px;" />

{% include '/fluxy/menu/menu1.html.twig' %}

<hr style="border-top: dotted 1px;" />

<p> Nous pouvons désormais faire correspondre les clés du fichier csv avec celle de notre table.  &nbsp;
	<a href="../../keycheck/match/{{ fileid }}/"><button> Continuer > </button> </a> 
</p> 
<a href="./import">Retour</a>

</body>
</html>

